In [2]:
#this is my life expectancy data cleaning notebook

In [3]:
# Dependencies and Setup
import pandas as pd

In [4]:
# File to Load
life_data = "lifeData.csv"

# Read Data File and store into Pandas DataFrames
life_df = pd.read_csv(life_data)
life_df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [5]:
life_clean = life_df.drop('Total expenditure',axis =1)
life_clean = life_clean.drop('percentage expenditure',axis =1)
life_clean = life_clean.drop('Income composition of resources',axis =1)

In [6]:
life_clean = life_clean.drop('Alcohol',axis =1)
life_clean = life_clean.drop('under-five deaths ',axis=1)
life_clean = life_clean.drop(' thinness  1-19 years',axis =1)
life_clean = life_clean.drop(' thinness 5-9 years',axis =1)

life_clean.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Hepatitis B,Measles,BMI,Polio,Diphtheria,HIV/AIDS,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,65.0,1154,19.1,6.0,65.0,0.1,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,62.0,492,18.6,58.0,62.0,0.1,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,64.0,430,18.1,62.0,64.0,0.1,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,67.0,2787,17.6,67.0,67.0,0.1,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,68.0,3013,17.2,68.0,68.0,0.1,63.537231,2978599.0,9.5

In [10]:
life_clean.to_csv('life_exp_clean.csv')

In [47]:
#mortality and life expectancy by country, including country status by developed(ing), GDP, schooling (2015)
#only year 2015
country_status_clean = life_clean[life_clean.Year == 2015]
#drop infant deaths, virus data, BMI
country_status_clean = country_status_clean.drop('infant deaths',axis=1)
country_status_clean = country_status_clean.drop('Hepatitis B',axis=1)
country_status_clean = country_status_clean.drop('Measles ',axis=1)
country_status_clean = country_status_clean.drop(' BMI ',axis=1)
country_status_clean = country_status_clean.drop('Polio',axis=1)
country_status_clean = country_status_clean.drop('Diphtheria ',axis=1)
country_status_clean = country_status_clean.drop(' HIV/AIDS',axis=1)

country_status_clean.head()

,Country,Year,Status,Life expectancy,Adult Mortality,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,584.259210,33736494.0,10.1
16,Albania,2015,Developing,77.8,74.0,3954.227830,28873.0,14.2
32,Algeria,2015,Developing,75.6,19.0,4132.762920,39871528.0,14.4
48,Angola,2015,Developing,52.4,335.0,3695.793748,2785935.0,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,13566.954100,NaN,13.9

In [48]:
country_status_clean.to_csv('country_status_clean.csv')

In [52]:
#data for developing countries in 2015
developing_clean = country_status_clean[country_status_clean.Status == 'Developing']

developing_clean.head(12)

,Country,Year,Status,Life expectancy,Adult Mortality,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,584.259210,33736494.0,10.1
16,Albania,2015,Developing,77.8,74.0,3954.227830,28873.0,14.2
32,Algeria,2015,Developing,75.6,19.0,4132.762920,39871528.0,14.4
48,Angola,2015,Developing,52.4,335.0,3695.793748,2785935.0,11.4
64,Antigua and Barbuda,2015,Developing,76.4,13.0,13566.954100,NaN,13.9
80,Argentina,2015,Developing,76.3,116.0,13467.123600,43417765.0,17.3
96,Armenia,2015,Developing,74.8,118.0,369.654776,291695.0,12.7
144,Azerbaijan,2015,Developing,72.7,118.0,55.313820,9649341.0,12.7
160,Bahamas,2015,Developing,76.1,147.0,NaN,NaN,12.6
176,Bahrain,2015,Developing,76.9,69.0,22688.878240,NaN,14.5
192,Bangladesh,2015,Developing,71.8,129.0,121.158120,1612886.0,10.2
208,Barbados,2015,Developing,75.5,98.0,15557.838100,NaN,15.3

In [54]:
developing_clean.to_csv('developing_clean.csv')

In [53]:
#developed countries in 2015
developed_clean = country_status_clean[country_status_clean.Status == 'Developed']

developed_clean.head(12)

,Country,Year,Status,Life expectancy,Adult Mortality,GDP,Population,Schooling
112,Australia,2015,Developed,82.8,59.0,56554.38760,23789338.0,20.4
128,Austria,2015,Developed,81.5,65.0,43665.94700,8633169.0,15.9
240,Belgium,2015,Developed,81.1,74.0,4356.87500,11274196.0,16.6
384,Bulgaria,2015,Developed,74.5,137.0,6993.47736,7177991.0,15.0
641,Croatia,2015,Developed,78.0,95.0,11579.66740,42364.0,15.3
673,Cyprus,2015,Developed,85.0,52.0,2375.11270,116985.0,14.3
689,Czechia,2015,Developed,78.8,86.0,NaN,NaN,NaN
737,Denmark,2015,Developed,86.0,71.0,5314.64416,5683483.0,19.2
994,Germany,2015,Developed,81.0,68.0,41176.88158,81686611.0,17.1
1154,Hungary,2015,Developed,75.8,134.0,12365.62630,984328.0,15.6
1170,Iceland,2015,Developed,82.7,49.0,5734.44360,33815.0,19.0
1250,Ireland,2015,Developed,81.4,64.0,6664.14400,4676835.0,18.6

In [55]:
developed_clean.to_csv('developed_clean.csv')